<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="e2y" translate="label" sortOrder="10000">
			<label>e2y</label>
		</tab>
		<section id="core" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
			<label>Core</label>
			<tab>e2y</tab>
			<resource>E2Y_Core::config</resource>
			<group id="general" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
				<label>General</label>
				<field id="active" type="select" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Enabled</label>
					<comment>Enable or disable the feature provided by this module</comment>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
			</group>
		</section>
	</system>
</config>
